if SHIELD_VAD_BOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "Vad Board"

config ZMK_SPLIT_KEYBOARD_ROLE_CENTRAL
    default y

endif

if SHIELD_VAD_BOARD_RIGHT || SHIELD_VAD_BOARD_LEFT

config ZMK_SPLIT
    default y

endif
